@charset "utf-8";

/* テキスト */
a {
    /* テキスト装飾を指定するプロパティ */
    text-decoration: none;
}

/* テキストの位置 */
.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.text-md-center {
    display: block;
}

/* ブロック要素化、非表示 */
.d-block {
    display: block;
}

.d-none {
    display: none;
}

/* フォントサイズ */
.fontSize-1p5 {
    font-size: 1.5rem;
}

/* フォントの種類 */
.font-serif {
    font-family: serif;
}

/* 画像のレスポンシブ化 */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* 動画のレスポンシブ化 */
.video-fluid {
    max-width: 100%;
    height: auto;
}

/* 背景 */
.bg-royalblue {
    background-color: royalblue;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-white {
    background-color: white;
}

.bg-red {
    background-color: red;
}

.bg-orangered {
    background-color: orangered;
}

/* border */
.border-1px {
    border: 1px solid black;
}

/* padding */
.p-03rem {
    padding: 0.3rem;
}

.p-05rem {
    padding: 0.5rem;
}

.p-1rem {
    padding: 1rem;
}

.p-2rem {
    padding: 2rem;
}

/* margin */
.mt-0p5rem {
    margin-top: 0.5rem;
}

.mb-0p5rem {
    margin-bottom: 0.5rem;
}

/* フレックスボックス */
.d-flex {
    display: flex;
}

.d-md-flex {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

/* ポップアップ */
.popup {
    /* 要素を重ねた時の順番 */
    z-index: 1;
    /* 画面全体を覆う設定 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 画面の中央に要素を表示させる設定 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    z-index: 2;
    width: 50%;
    padding: 1em;
    background: #fff;
}

/*　レイアウト　*/
.container {
    display: flex;
    flex-flow: row; /* 横 */
}

main {
    flex: 4;
    order: 2;
}

aside {
    flex: 1 50px;
    order: 1;
}

/* メディアクエリ */
@media (min-width: 780px) {
    .text-md-center {
        text-align: center;
    }

    .img-fluid {
        width: 500px;
    }

    .video-fluid {
        width: 600px;
    }

    .d-md-flex {
        display: flex;
    }
  }